<!DOCTYPE html>
<html>
<head>
  <title> Shyam's Home</title>
</head>
  <body>
    <h1>Personal banking</h1>
    <img src="https://cf005087-45b8-4b3b-a394-f1569f23f128-00-1z94h9pgn8jec.pike.replit.dev/static/personal_banking.jpg" height="320" </img>
    <h2>About personal banking</h2>
    <p>Personal banking is a banking service that is tailored to the needs of individual customers. It is designed to provide personalized financial solutions and services to meet the unique requirements of each customer. Personal banking services can include a wide range of financial products and services</p>
    <h2>Open Positions</h2>
    <h1>jobs available</h1>
    <button>contact us</button>
  </body>
</html>